<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style></style>
    <link rel="icon"
        href="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fnubo.ru%2Fpavel_egorov%2Frussian%2Frve2701.jpg&f=1&nofb=1"
        type="image/x-icon">
    <title>{{{title}}}</title>
</head>

<body>
    {{!-- baseUrl - static server --}}
    {{!-- in dev server this url will be caught and the valid lib will be returned --}}
    <script src="{{{baseUrl}}}/fire.app/{{{fireAppVersion}}}/index.js"></script>

    <script>
        // The utilization of the loaded app
        fireApp({
            apps: {{{ apps }}},
            navigations: {{{ navigations }}},
            config: {{{ config }}},
            features: {{{ features }}},
        })
    </script>

    <div id="root"></div>
</body>

</html>